<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.babysitterfinder">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".BabysitterFinderApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_logo"
        android:label="Babysitter Finder"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabysitterFinder">

<!--        <service android:name=".services.NotificationService" />-->

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.BabysitterCreationActivity" />
        <activity android:name=".activities.FamilyCreationActivity" />
        <activity android:name=".activities.HomeFamilyActivity" />
        <activity android:name=".activities.HomeBabysitterActivity" />
        <activity android:name=".activities.BabysitterViewActivity" />
        <activity android:name=".activities.FamilyViewActivity" />
        <activity android:name=".activities.OwnFamilyProfile" />
        <activity android:name=".activities.OwnBabysitterProfile" />

    </application>

</manifest>
